/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */


/* Responsive breakpoints using jQuery */


/* 
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. 
*/


/* 576px */

@media (max-width: 36em) {
    .header ul {
        gap: 3rem;
        flex-direction: column;
    }
    .navigation-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.97);
        transition: all 0.5s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }
    .nav-open .navigation-list {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        height: 100vh;
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .btn-mobile-nav {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .logo-container {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .header {
        height: 7rem;
    }
    .hero {
        grid-template-columns: 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hero h1 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .hero p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    .delivered-meals {
        flex-direction: column;
        margin: 2rem 0 2rem 0;
    }
    .btn-start,
    .btn-learn {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .featured {
        padding: 2rem;
    }
    .how-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }
    .heading-secondary,
    .heading-tertiary {
        font-size: 1.5rem;
    }
    .heading-secondary {
        margin-bottom: 4.8rem;
    }
    .steps-to-how {
        grid-template-columns: 1fr;
    }
    .featured-logos {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
    }
    .featured-logos img {
        height: 1.5rem;
    }
    .last-logo {
        grid-column: span 2;
    }
    .meals-header .heading-secondary,
    .meals-header .logo {
        font-size: 1.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cards-and-foods {
        grid-template-columns: 1fr;
        justify-self: center;
        gap: 2rem;
    }
    .meal {
        width: 90%;
    }
    .gallery-grid {
        grid-template-columns: 1fr;
    }
    .testimonials-heading {
        text-align: center;
    }
    .testimonials-text {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }
    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery-imgs,
    .pricing {
        padding: 0 2rem;
    }
    #pricing .subheading {
        text-align: center;
        margin-bottom: 0;
    }
    .header .testimonials-heading {
        font-size: 1.8rem;
        margin: 0;
        line-height: 1.4;
    }
    .extra-info {
        font-size: 1.6rem;
        line-height: 1.2;
        text-align: left;
    }
    .pricing-cards {
        grid-template-columns: 1fr;
    }
    .cards {
        justify-self: center !important;
    }
    .btn-start {
        font-size: 0.8rem;
    }
    .cards .list li {
        line-height: 1.8;
        font-size: 1rem;
    }
    .cards {
        max-width: 100%;
    }
    .grid--4--cols,
    .grid--5-cols {
        grid-template-columns: 1fr;
    }
    .grid--5-cols {
        justify-items: left;
        margin-left: 30%;
    }
    .logo-container {
        height: 4rem;
        width: 4rem;
    }
    .logo-container a {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }
    .section-cta {
        padding: 2rem 1rem;
    }
    .cta {
        grid-template-columns: 1fr;
    }
    .cta-text-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }
    .cta-form {
        grid-template-columns: 1fr;
    }
    .footer {
        padding: 2rem 0;
    }
    .logo-col {
        margin-bottom: 2rem;
    }
    .address-col {
        margin-bottom: 2rem;
    }
    .footer-heading {
        margin-bottom: 1.5rem;
    }
    .nav-col {
        margin-bottom: 2rem;
    }
    /*by grid-row we can change the position of image example:we have Z pattern "card-text" section and when it is in a phone mode 2 images follow each other not image and text pattern to fix this we can put the image above the text by changing it is row (if it is in the 2st row we give "grid-row:1" and it moves upt to the 1st place and text follows to it ) */
    .step-image:nth-child(2) {
        grid-row: 1;
    }
    .step-image:nth-child(6) {
        grid-row: 5;
    }
    .steps-to-how {
        gap: 3.2rem;
    }
    .step-image {
        transform: translateY(1.5rem);
    }
    .cta-img-box {
        height: 20rem;
        grid-row: 1;
    }
    .cta-text-box .heading-secondary {
        margin-bottom: 0.5rem;
        text-align: left;
    }
}


/* 576 to 768px */

@media (min-width: 36em) and (max-width: 48em) {
    .hero {
        margin-top: 2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .section-image {
        max-width: 100%;
        justify-self: center;
    }
    .header {
        justify-content: space-between;
    }
    .logo-container {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .header ul {
        gap: 3rem;
        flex-direction: column;
    }
    /* mobile navigation */
    .btn-mobile-nav {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .navigation-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.97);
        transition: all 0.5s;
        /* 1 use opacity not display because display none simply does not work with transition */
        opacity: 0;
        /* 2 we have to make it unaccessible to mouse */
        pointer-events: none;
        /* hide it from screen readers */
        visibility: hidden;
        transform: translateX(100%);
    }
    .nav-open .navigation-list {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        height: 100vh;
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .featured {
        padding: 2rem 2rem 4rem 2rem;
    }
    .featured-logos {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .featured-logos img {
        height: 1.5rem;
    }
    .section-content h1 {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .section-content p {
        font-size: 1.2rem;
    }
    .heading-secondary {
        font-size: 1.6rem;
        margin-bottom: 4.8rem;
    }
    .heading-secondary .logo {
        font-size: 1.4rem;
    }
    .cards-and-foods {
        grid-template-columns: 1fr;
        justify-self: center;
        gap: 2rem;
    }
    .meal {
        width: 60%;
    }
    .gallery-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-self: center;
        margin: 0 2rem;
    }
    .testimonials-text {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .gallery-imgs {
        grid-template-columns: repeat(6, 1fr);
    }
    .pricing {
        padding: 0 2rem;
    }
    .pricing .testimonials-heading {
        font-size: 1.6rem;
    }
    .pricing .header {
        align-items: center;
    }
    .pricing-cards {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .cards {
        justify-self: center !important;
    }
    .grid--4--cols {
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        padding: 0 2rem;
    }
    .footer .grid--5-cols {
        grid-template-columns: repeat(6, 1fr);
        margin: 0 3rem;
        gap: 2rem;
    }
    .nav-col {
        grid-row: 1;
        grid-column: span 2;
    }
    .logo-col,
    .address-col {
        grid-column: span 3;
        margin-top: 2rem;
    }
    .steps-to-how {
        grid-template-columns: 1fr;
    }
    .step-image:nth-child(2) {
        grid-row: 1;
    }
    .step-image:nth-child(6) {
        grid-row: 5;
    }
    .cta--box {
        margin: 0 1rem;
    }
}


/* 768 to 992px */

@media (min-width: 48em) and (max-width: 62em) {
    .header {
        justify-content: center;
    }
    .header ul {
        gap: 3rem;
        flex-direction: column;
    }
    /* mobile navigation */
    .btn-mobile-nav {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .navigation-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.97);
        transition: all 0.5s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }
    .nav-open .navigation-list {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        height: 100vh;
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .logo-container {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .navigation-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.97);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero {
        margin-top: 2rem;
        grid-template-columns: 1fr;
    }
    .section-content {
        margin-bottom: 2rem;
    }
    .section-image {
        max-width: 80%;
        justify-self: center;
    }
    .hero h1 {
        font-size: 2rem;
        line-height: 1.5;
    }
    .featured-logos {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
    .featured-logos img {
        height: 1.5rem;
    }
    .delivered-text {
        font-size: 1.2rem !important;
        line-height: 1.2 !important;
    }
    .delivered-meals {
        margin-top: 4rem;
    }
    .meals-header span,
    .meals-header .logo {
        font-size: 1.6rem;
    }
    .heading-secondary {
        font-size: 1.6rem;
        margin-bottom: 4.8rem;
    }
    .steps-to-how {
        gap: 4.8rem;
    }
    .cards-and-foods {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .meal {
        width: 60%;
        justify-self: center !important;
    }
    .gallery-grid {
        margin: 0 3rem;
        grid-template-columns: 1fr;
    }
    .pricing {
        padding: 0 3rem;
    }
    .gallery-imgs {
        grid-template-columns: repeat(6, 1fr);
    }
    .testimonials-heading {
        font-size: 2rem !important;
    }
    .pricing-cards {
        grid-template-columns: 1fr 1fr;
    }
    .card-1 {
        justify-self: end;
    }
    .card-2 {
        justify-self: start;
    }
    .cards {
        max-width: 100%;
    }
    .pricing .grid--4--cols {
        grid-template-columns: 1fr 1fr;
    }
    .footer .grid--5-cols {
        grid-template-columns: repeat(6, 1fr);
        margin: 0 3rem;
        gap: 2rem;
    }
    .nav-col {
        grid-row: 1;
        grid-column: span 2;
    }
    .logo-col,
    .address-col {
        grid-column: span 3;
        margin-top: 2rem;
    }
    .cta {
        grid-template-columns: 3fr 2fr;
    }
    .cta-form {
        grid-template-columns: 1fr;
    }
    .section-cta {
        padding: 3rem 1rem 1rem 1rem;
    }
}


/* 992 to 1200px */

@media (min-width: 62em) and (max-width: 75em) {
    .header {
        justify-content: center;
    }
    .logo {
        font-size: 1.2rem !important;
        font-weight: 500;
    }
    .main-nav-list li {
        font-size: 1.2rem;
    }
    .hero h1 {
        font-size: 2rem;
        line-height: 1.5;
    }
    .delivered-meals {
        margin-top: 2rem;
    }
    .delivered-text {
        font-size: 1.2rem !important;
        line-height: 1.2 !important;
    }
    /* featured section */
    .featured-logos {
        gap: 1.4rem;
        justify-items: center;
    }
    .featured-logos img {
        height: 1.6rem;
    }
    .heading-secondary {
        font-size: 2rem;
        margin-bottom: 4.8rem;
    }
    /* meals */
    .cards-and-foods {
        grid-template-columns: 1fr 1fr;
    }
    .meal {
        width: 70%;
    }
    .card-1,
    .list-of-ingredients {
        justify-self: end;
    }
    .card-2 {
        justify-self: start;
    }
    .list-of-ingredients {
        margin-top: 2rem;
    }
    /* gallery */
    .gallery {
        max-width: 900px;
        margin: 0 auto;
    }
    /* Pricing */
    .pricing .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonials-heading {
        font-size: 2rem !important;
    }
    .pricing .container {
        margin-top: 4rem;
        padding: 0 2rem;
    }
    .section-cta {
        padding: 2rem 1rem;
    }
    .footer {
        padding: 2rem 1rem;
    }
    .card-text .heading-tertiary {
        font-size: 1.2rem !important;
    }
}